#carouselExampleIndicators.carousel.slide.mb-4(data-ride="carousel")
  ol.carousel-indicators
    li(data-target="#carouselExampleIndicators" data-slide-to="0" class="active")
    li(data-target="#carouselExampleIndicators" data-slide-to="1")
    li(data-target="#carouselExampleIndicators" data-slide-to="2")
  .carousel-inner(role="listbox")
    .carousel-item.active(style="background-image: url('http://placehold.it/1900x1080')")
      .carousel-caption.d-none.d-md-block
        h3 First Slide
        p This is a description for the first slide.
    .carousel-item(style="background-image: url('http://placehold.it/1900x1080')")
      .carousel-caption.d-none.d-md-block
        h3 Second Slide
        p This is a description for the Second slide.
    .carousel-item(style="background-image: url('http://placehold.it/1900x1080')")
      .carousel-caption.d-none.d-md-block
        h3 Third Slide
        p This is a description for the Third slide.
  a.carousel-control-prev(href="#carouselExampleIndicators" role="button" data-slide="prev")
    span.carousel-control-prev-icon(aria-hidden="true")
    span.sr-only Previous
  a.carousel-control-next(href="#carouselExampleIndicators" role="button" data-slide="next")
    span.carousel-control-next-icon(aria-hidden="true")
    span.sr-only Next