.row.product-grid
    each product in products
        .col-lg-4.col-md-6.mb-4
            .card.h-100
                a(href= product.link)
                    img.card-img-top(src= product.image alt= product.name)
                    .card-body
                        h4.card-title
                            a(href= product.link)= product.name
                        h5 $
                            span= product.price
                        p.card-text= product.description
                    .card-footer
                        small.text-muted
                            - var i = 1;
                            - var star = "&#9733;";
                            - var empty_star = "&#9734;";
                            while i <= 5
                                if i++ <= product.rating
                                    #{star}
                                else 
                                    #{empty_star}