doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="Boyarweb showcase Node.js shop")
    meta(meta name="author" content="boyarweb.com")
    title= title
    include ./parts/common/styles.pug
  body
    include ./parts/common/header.pug
    block content
    include ./parts/common/footer.pug
    include ./parts/common/scripts.pug