body {
  padding-top: 54px; }

.error-page-wrapper {
  height: 81.8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center; }

.carousel-item {
  height: 40vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

@media (min-width: 992px) {
  body {
    padding-top: 56px; } }

/*# sourceMappingURL=style.css.map */