nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  .container
    a.navbar-brand(href="/") Node.js Shop
    button.navbar-toggler(
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    )
      span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item.active
          a.nav-link(href="/") Home
            span.sr-only (current)
        li.nav-item
          a.nav-link(href="#") About
        li.nav-item
          a.nav-link(href="#") Services
        li.nav-item
          a.nav-link(href="#") Contact