extends ./../layout

block content
  .container
    .card.my-4
        - var imgAlt = "Product " + product.name;
        img.card-img-top.img-fluid(src=product.image alt=imgAlt)
        .card-body
            h3.card-title= product.name
            h4 $
                span= product.price
            p.card-text= product.description
            span.text-warning
                - var i = 1;
                - var star = "&#9733;";
                - var empty_star = "&#9734;";
                while i <= 5
                    if i++ <= product.rating
                        #{star}
                    else 
                        #{empty_star}
            span 4.0 stars